<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Manuscript.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA4C28C425275B0900A9FEBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA4C28DA25275B0B00A9FEBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA4C28E525275B0B00A9FEBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
